<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpFHdhjfdD5LLH3yXL3ynPmRiBSVKotmg</string>
	<key>GCM_SENDER_ID</key>
	<string>121049807355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barberApp</string>
	<key>PROJECT_ID</key>
	<string>barber-cda96</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-cda96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121049807355:ios:fd7a84e0b7c30a74f1f35e</string>
</dict>
</plist>